@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

:root {
    --primary: #6C73CC;
    --secondary: #E88D67;
    --background: #EFF2F9;
    --surface: #FFFFFF;
    --success: #2FDB68;
    --warning: #FF9142;
    --error: #E3170A;
    --muted: #808080;
    --outline: #CBD6E6;
    --text: #171717;
    --primary_muted: #C3C7FF;
}

.dark {
    --primary: #7E87EF;
    --secondary: #E88D67;
    --background: #0A112B;
    --surface: #161F3E;
    --success: #2FDB68;
    --warning: #FE9C55;
    --error: #EE382D;
    --muted: #8086CA;
    --outline: #404371;
    --text: #F4F4F4;
    --primary_muted: #363C8B;
}

